* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-bold;
}

.title {
    color: #df7614;
    text-align: center;
    font-size: 35px;
    margin-top: 10%;
}

.display {
    color: #c7e4eb;
    font-size: 22px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 1px solid white;
    min-width: 90px;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    cursor: pointer;
}

.playerX {
    color: #cad84c;
}

.playerO {
    color: #30c4d8;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: #e40f3a;
}